.container{
    max-width: 400px;
}
body{
    background:#eeedec;
    letter-spacing: 0.2em;
    font-size:0.8em;
}

.icon{
    border-radius:50%;
    width: 100px;
    position: relative;
    top:-50px;
    margin-bottom: -50px; 
}